body            
  background #EAEFF3  
html, body, .container, .tbj-cost-contents,.content, .ztree                                               
  height 100%          
.container                  
  width 100%                                      
  margin 0 auto                                                              
  overflow hidden    
.tbj-cost-contents .content                                                              
  overflow hidden
.tbj-nav  
  height 60px                  
  background: -webkit-linear-gradient(left, #3a3897, rgba(58, 56, 151, 0.77)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #3a3897, rgba(58, 56, 151, 0.77)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #3a3897, rgba(58, 56, 151, 0.77)); /* Firefox 3.6 - 15 */
  background: linear-gradient(right, #3a3897, rgba(58, 56, 151, 0.77)); /* 标准的语法 */
        
.img-logo
  float left
  width 182px
  height 26px
  margin 17px 58px 17px 20px
  background url('@@@PREFIX@@@/images/logo.png') no-repeat
  background-size 182px 26px
  overflow hidden
.tbj-nav-list
  margin-left 260px
  height 60px          
  overflow hidden
.tbj-nav-list li       
  float left
  margin 0px 20px
  width 104px
  height 32px
  line-height 32px
  padding 14px 0
  cursor pointer
.tbj-nav-list li span 
  display block
  text-align center
  color #fff
  opacity 0.6
  font-size 16px
.tbj-nav-list li.current 
  padding 0
  margin-top 14px
  background url('@@@PREFIX@@@/images/nav-bg.png') no-repeat
  background-size 104px 32px
.tbj-nav-list li.current span
  color: #fff  
  opacity 1                                                            
#rMenu
  position absolute           
  visibility hidden 
  top 0                                                    
  border 1px solid #555 
  text-align left                                
div#rMenu ul li              
  padding 0 5px
  cursor pointer;
  list-style none outside none
  background-color #DFDFDF
.remodal-cancel
  margin-right 22px 