.ztree
  float left
  width 220px
  padding 0 
  padding-top 22px                            
  overflow hidden  
  background #393857
.ztree-content
  margin-left 220px
  height 100%
.ztree-content .ztop
  height 80px
  background #fff
  overflow hidden
  .title
    font-size 18px
    color #393857
    margin-top 20px
    margin-left 20px
    font-weight 700
  .stitle
    font-size 12px 
    margin-left 20px
    margin-top 6px
.zcontent     
  border-radius 5px
  -webkit-border-radius 5px
  background #fff
  margin: 20px 
  height 100%
  overflow hidden
  ul
    display block
    margin 40px 30px 0
    border 1px solid #d1e1ee
    li 
      border-bottom 1px solid #d1e1ee
      height 44px
    li:last-child
      border-bottom none
    .title 
      float left
      width 100px
      background #EAEFF3
      height 44px
      padding-left 20px
      line-height 44px
      color #393857
      font-size 14px
    .value
      margin-left 139px
      height 44px
      line-height 44px
.remodal p  
  font-size 16px       
.ztree li span
  color #fff  
  opacity 0.5
.ztree li ul.level0.line 
  border-left none
.ztree li span.button.add
  margin-left 2px 
  margin-right -1px 
  background-position -144px 0 
  vertical-align top 
  *vertical-align middle
.ztree li ul.line
  background none
  border-left 1px dotted rgba(142, 140, 231, 0.42)
  margin-left 8px
.ztree li ul
  padding-left 14px
  padding-top 4px
.ztree li
  position relative
.ztree li a
  padding-left 4px
  padding-right 100%
.ztree li .add, .ztree li .remove
  position absolute
  right 0
  top 0
  z-index 100
.ztree li span.button.remove 
  background url('@@@PREFIX@@@/images/del.png') no-repeat 0 0
  background-size 15px 18px
  width 15px 
  height 18px
  opacity 1
.ztree li span.button.add 
  background url('@@@PREFIX@@@/images/add.png') no-repeat 0 0
  background-size 15px 18px
  width 15px 
  height 18px
  opacity 1
.ztree li .aParent .add, .ztree li .aParent .remove
  top 8px
.ztree li span.button.center_open, .ztree li span.button.bottom_open, .ztree li span.button.roots_open
  opacity 1  
  background url('@@@PREFIX@@@/images/jian.png') no-repeat 0 0
  background-size 10px 2px
  width 10px        
  height 10px
  margin-left 4px      
  margin-top 7px
.ztree li span.button.center_close, .ztree li span.button.bottom_close, .ztree li span.button.roots_close
  opacity 1
  background url('@@@PREFIX@@@/images/plus.png') no-repeat 0 0
  background-size 10px 10px
  width 10px 
  height 10px
  margin-left 4px
.ztree li .add
  right 20px
.ztree li span.button.ico_open, .ztree li span.button.ico_close, .ztree li span.button.ico_docu
  display none       
.ztree li a.curSelectedNode
  border none
  background none
  padding-top 1px
  color #fff
  opacity 1
.ztree li .white
  color #fff
  opacity 1
.ztree li a.curSelectedNode span 
  opacity 1
.ztree li a.curSelectedNode:hover 
  text-decoration none
.ztree .li_open 
  background #30304D
.margintop14.li_open
  border-left 2px solid #8E8CE7
.ztree .fontsize14
  font-size 14px
  opacity 1
.ztree .margintop14
  padding-left 16px
  padding-bottom 8px
  padding-top 8px